.widget {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--header-background);
}

.widget__icon {
  height: 120px;
  margin-bottom: 12px;
}

.widget__title {
  margin-top: 0;
  margin-bottom: 8px;
}

.widget__info {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 8px;
}

.widget__state {
  font-weight: 600;
}

.widget__state--online {
  color: var(--color-online);
}

.widget__state--offline {
  color: var(--color-offline);
}