:root {
  --background: #121212;
  --color: #FFFFFF;
  --title-color: #4E4E50;
  --header-background: #1c1c1e;
  --tabs-background: #000000;
  --active-color: #302f33;
  --hover-color: #413f34;

  --header-height: 96px;
  --nav-width: 320px;
}
